@{
    ViewData["Title"] = "Home Page";
    Layout = "~/views/shared/mester.cshtml";
}
    <div class="maintable">
        <div class="mainzone">
            <div id="pnlmaineplace" style="height:100%;">
                <div class="text">
                    <h4>نرم افزار مديريت هوشمند کتابخانه آريان، از فن آوري‌هاي روز نرم‌افزاري دنيا بهره برده و کليه استانداردهاي حوزه مديريت اطلاعات را پوشش مي‌دهد. </h4>
                    <h4>اين نرم افزار منطبق بر استانداردهاي کتابداري و خواسته‌هاي کتابخانه‌هاي ايران طراحي و پياده سازي شده است.</h4>
                    <h4>آریان يك نرم افزار كتابخانه ديجيتال جامع و انعطاف‌پذير مي‌باشد كه تمامي اجزاء آن تحت وب عمل مي نمايد.</h4>
                </div>
                
                <div class="image">
                    <div class=" col-6">
                        <img src="~/css/Untitled.png" />
                        <h4>فهرست نویسی</h4>
                    </div>
                    <div class=" col-6">
                        <img src="~/css/Untitled1.png" />
                        <h4>چرخه ی مدارک</h4>
                    </div>
                    <div class=" col-6">
                        <img src="~/css/Untitled2.png" />
                        <h4>جستجو</h4>
                    </div>
                    <div class=" col-6">
                        <img src="~/css/Untitled3.png" />
                        <h4>گزارش</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
